body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background: white;
    width: 500px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #444;
}

.description {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#addBtn {
    padding: 10px 15px;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#addBtn:hover {
    background: #5563c1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f5f7ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.task-buttons button {
    margin-left: 5px;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.editBtn {
    background: orange;
    color: white;
}

.deleteBtn {
    background: crimson;
    color: white;
}

.task-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}